h1 {
    color: rgb(255, 94, 0);
    border: rgb(51, 255, 0);
    border-style: dashed solid;
    border-radius: 5% / 60%;
    border-width: 50px;
    font-family: monospace;
    text-align: center;
    letter-spacing: 50px;
    text-transform: uppercase;
}

ul {
    color: rgb(233, 109, 27);
    font-family: monospace;
    text-align: center;
    letter-spacing: 5px;
}

strong {
    color: springgreen;
}

div {
    border-color: springgreen;
    border-style: double;
    border-width: 50px;
}

em {
    color: teal;
    font-family: monospace;
    letter-spacing: 10px;
}