p {
    padding: 10px 50px 20px;
    height: 250px;
    width: 260px;
    padding-right: 30px;
    border-style: dotted;
    border-color: rgb(218, 89, 72);
    color: lightcoral;
}

h1 {
    color: lightpink;
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
}

h2 {
    color: lightpink;
    position: relative;
    top: 40px;
    left: 40px;
    float: right;
}